.side-bar{

    position:fixed;
    top:55px;
    left:0;
    bottom:0;
    background-color:white;
    width:72px;
    z-index:200;
    


}
.side-bar-link{
    
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:74px;
    margin-bottom:1px;
    
 



}
.side-bar-link img{
height:25px;
}
.side-bar-link div{
    font-family:Roboto , Arial;
    font-size:10px;
    margin-top:6px;
    
   
}
